table {
    padding: 10%;
    width:804.5px;
    align-self: center;
    border: 2px dashed rgb(216, 213, 213);
    border-bottom:none;
  }
.mat-paginator{
    position: absolute;
    width:800px;
    align-self: center;
    border: 2px dashed rgb(216, 213, 213);
   
    border-top: none
}

 /*  .mat-column- {
    display: flex;
    justify-content: flex-end;
    } */
.container{
    margin: 0 auto;
    text-align: left;
    width: 800px;
    padding-top: 100px
}
.success-icon {
    -webkit-text-fill-color:green
}
